/* grid */
.grid {
  display: grid;
}
.place-center {
  place-items: center;
}
.justify-items-center {
  justify-items: center;
}

/* flex */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

/* ---------------------------
   Text helpers
---------------------------- */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

/* ---------------------------
   Lists
---------------------------- */
.clean-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ---------------------------
   Visibility
---------------------------- */
.hidden {
  display: none !important;
}
