/* ======================================================
   SEARCH BAR
   ====================================================== */

.home-hero-search {
  position: relative;
  height: 60px;
  width: min(980px, 100%);
}

.home-hero-searchInput {
  width: 100%;
  height: 60px;
  padding: 0 64px 0 18px;

  border-radius: 12px;
  border: 1px solid rgb(197, 198, 201);
  background: #fff;

  font-size: 16px;
  color: rgb(34, 35, 37);
  outline: none;
}

.home-hero-searchInput::placeholder {
  color: rgb(147, 150, 156);
}

.home-hero-searchBtn {
  position: absolute;
  top: 6px;
  right: 6px;

  width: 48px;
  height: 48px;
  border-radius: 10px;

  border: 0;
  cursor: pointer;

  background: rgb(34, 35, 37);
  color: #fff;

  display: grid;
  place-items: center;
}
