.header-search {
  width: 480px;
  max-width: 42vw;
  min-width: 260px;
}

.search {
  grid-template-columns: 1fr max-content;
  width: 100%;
  height: 40px;
}

/* ===== INPUT ===== */

.search-input {
  grid-column: 1 / 2;

  width: 100%;
  margin: 0;

  border: 1px solid rgb(197, 198, 201);
  border-right-width: 0;

  background: #fff;
  color: rgb(98, 100, 106);

  font:
    16px/24px Macan,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;

  padding: 10px 2px 10px 16px;
  outline: none;

  border-radius: 4px 0 0 4px;
  appearance: none;
}

/* Placeholder swap */
.search-input-long {
  display: block;
}
.search-input-short {
  display: none;
}

/* ===== BUTTON ===== */

.search-btn {
  grid-column: 2 / 3;

  height: 100%;
  padding: 8px 16px;

  border: 1px solid transparent;
  border-radius: 0 4px 4px 0;

  background: #222325;
  color: #fff;

  cursor: pointer;

  font:
    700 14px/100% Macan,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;

  transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
}

.search-icon {
  display: block;
  width: 16px;
  height: 16px;

  /* force SVG image to white */
  filter: brightness(0) invert(1);
}
