.gig-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;    
    
    list-style: none;
    padding: 0;
    margin: 0;
}


.gig-card-wrapper {   
    flex: 1 0 250px; 
    max-width: 400px; 
}