.fiverr-gig-card {
    width: 100%;
    max-width: 300px;
    background: #fff;
    cursor: pointer;
    font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;

    video{
        border-radius: 10px;
    }
    
    .card-content {
        
        .seller-row {
            display: flex;
            gap: 10px;
            font-weight: bold;
            .seller-avatar {
                border-radius: 50%;

            }
            :hover{
                cursor: pointer;
            }
        }

        .p {
            font-weight: 5px;
        }

        .rating-row {
            display: flex;
            gap: 2.5px;
            font-weight: bold;
        }

        .rating-row .count {
            font-weight: 300;
        }

        .pricing-row .price-info {
            display: flex;
            gap: 3px;
            font-weight: bold;
        }


    }
}