.fiverr-gig-card {
    width: 100%;
    max-width: 276px;
    background: #fff;
    cursor: pointer;
    font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;

    video {
        border-radius: 8px;
    }

    .card-content {

        .seller-row {
            display: flex;
            gap: 10px;
            font-weight: bold;
            font-size: 0.85rem;
            justify-content: space-between;
            
            .seller-avatar {
                border-radius: 50%;
                
            }
            .mini-layout-seller{
                display: flex;
                gap: 0.70em;
            }

            img {
                height: 24px;
                width: 24px;
            }

            :hover {
                cursor: pointer;
            }
        }

        .p {
            font-weight: 5px;
        }

        .rating-row {
            display: flex;
            gap: 2.5px;
            font-weight: bold;
        }

        .rating-row .count {
            font-weight: 300;
        }

        .pricing-row .price-info {
            display: flex;
            gap: 3px;
            font-weight: bold;

            .tax-fees-note {
                font-weight: lighter;
            }
        }


    }
}